.footer-container {
    background-color: rgba(0, 0, 0, 0.2);
}

.container {
    min-height: calc(100vh - 117px);
}

.btn-reserver-archive {
    width: 100%;
}

.navbar {
    background-color: #f15a51 !important;
    border: 0px !important;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.title-welcome {
    color: white;
    margin-top: 40vh;
    transform: translateY(-50%);
}

.row-cover {
    background-image: url('/images/theatre-couverture.jpeg');
    height: 80vh;
    background-position: center center;
    background-size: cover;
}
.table-row{
    -webkit-box-shadow: 0px -50px 20px 0px rgba(0,0,0,0.74);
    box-shadow: 0px -50px 20px 0px rgba(0,0,0,0.74);
}
